{% extends "main/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<br>
    <form method="POST" action= "{% url 'user_login' %}">
        {% csrf_token %}
        <div class = "form-group">
            <label for="username or email">Username or Email* </label>
            <input type="text" id="username_or_email" name="username_or_email" class="form-control" >
        </div>
        <br>
        <div class = "form-group">
            <label for="password">Password*</label>
            <input type="password" id="password" name="password" class = "form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-success">Login</button>
        <br>
        <p>Don't have an account? Create one <a href="/sign-up">Here</a>!</p>
 
    </form>
{% endblock %} 